<label for="wizards">Wizard:</label>
<select name="wizards" id="wizards">
  <option>Cultheer</option>
  <option>Nero</option>
  <option>Turgen</option>
</select>

<div class="row">
  <nb-card class="">
    <div style="display:flex;">
      <div style="float:inline-start;">
        <img src="assets/images/nero.png" style="width: 500px;">
      </div>
      <div style="display: inline-grid; align-content: space-evenly;">
        <fieldset>
          <div style="display: block; margin-bottom: 10px;">
            <label>Nero</label>
            <img src="assets/images/nero.png" style="width: 55px; position: relative;">
          </div>
          <div style="display: block;">
            <label>Strength</label>
            <input label="Str" size="5" disabled="true" placeholder="5" type="text">
          </div>
          <div style="display: block;">
            <label>Dexterity</label>
            <input label="Str" size="5" disabled="true" placeholder="5" type="text">
          </div>
          <div style="display: block;">
            <label>Intelligence</label>
            <input label="Str" size="5" disabled="true" placeholder="5" type="text">
          </div>
          <div style="display: block;">
            <label>Wisdom</label>
            <input label="Str" size="5" disabled="true" placeholder="5" type="text">
          </div>
          <div style="display: block;">
            <label>Charisma</label>
            <input label="Str" size="5" disabled="true" placeholder="5" type="text">
          </div>
        </fieldset>     
      </div>
      <div style="display: inline-grid; align-content: space-evenly;">
        <fieldset>
          <div style="display: block;">
            <label>Spells</label>
          </div>
          <div style="display: block;">
            <label>Ludis</label>
          </div>
          <div style="display: block;">
            <label>Ludis</label>
          </div>
          <div style="display: block;">
            <label>Ludis</label>
          </div>
          <div style="display: block;">
            <label>Ludis</label>
          </div>
        </fieldset>     
      </div>
    </div>
  </nb-card>
  <nb-card class="col-md-2" style="display: inline-grid; align-content: space-evenly;">
    <fieldset>
      <div style="display: block; margin-bottom: 10px; align-content: center;">
        <label>Tokens:</label>
        43430.34
      </div>
      <div style="display: block;">
        <label>Burned</label>
        343
      </div>
      <div style="display: block;">
        <label>Items Bought:</label>
        15
      </div>
      <div style="display: block;">
        <label>Stats Boosted:</label>
        32
      </div>
      <div style="display: block;">
        <label>Cost of Next Stat Boost</label>
        340
      </div>
      <div style="display: block;">
        <label>Cost for next item Boost</label>
        400
      </div>
    </fieldset>
  </nb-card>
</div>
<div class="row">
  <nb-card>
    <label for="lore">History:</label>
    <textarea id="lore" name="lore" rows="8" cols="60" style="background-color: #ece3ff;">
      What is your story Wizard?
    </textarea>
    <br><br>
    <input type="submit" value="Submit">
  </nb-card>
</div>