<label for="wizards">Wizard:</label>
<select name="wizards" id="wizards">
  <option>Nero</option>
  <option>Cultheer</option>
  <option>Turgen</option>
</select>

<div class="row">

  <div class="col-md-4">
    <nb-card class="">
      <img src="assets/images/nero.png">
    </nb-card>
  </div>

  <div class="col-md-4">
    <div class="col">
      <nb-card class="">
        <fieldset>
          <div style="display: block; margin-bottom: 10px;">
            <label>FIRE</label>
            <img src="assets/images/fire.png" style="width: 55px; position: relative;">
          </div>
          <div style="display: block;">
            <label>Strength</label>
          </div>
          <div style="display: block;">
            <label>Dexterity</label>
            <input label="Str" size="5" disabled="true" placeholder="5" type="text">
          </div>
          <div style="display: block;">
            <label>Intelligence</label>
            <input label="Str" size="5" disabled="true" placeholder="5" type="text">
          </div>
          <div style="display: block;">
            <label>Wisdom</label>
            <input label="Str" size="5" disabled="true" placeholder="5" type="text">
          </div>
          <div style="display: block;">
            <label>Charisma</label>
            <input label="Str" size="5" disabled="true" placeholder="5" type="text">
          </div>
        </fieldset>
      </nb-card>
    </div>
  </div>

  <div class="col-md-4">

    <div class="col">
      <nb-card class="">
        <nb-card-header>SPELLS</nb-card-header>
        <nb-list>
          <nb-list-item>LUCIS</nb-list-item>
          <nb-list-item>ETHENOS</nb-list-item>
          <nb-list-item>CRUXIX</nb-list-item>
          <nb-list-item>PENIS BEAM</nb-list-item>
        </nb-list>
      </nb-card>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <nb-card class="">
      <nb-card-header>Token and XP</nb-card-header>
        <nb-list>
          <nb-list-item>XP Available</nb-list-item>
          <nb-list-item>Tokens Available</nb-list-item>
          <nb-list-item>Stats Boosted</nb-list-item>
        </nb-list>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <label for="lore">History:</label>
      <textarea id="lore" name="lore" rows="8" cols="60" style="background-color: #ece3ff;">
        What is your story, Wizard?
      </textarea>
      <br><br>
      <input type="submit" value="Submit">
    </nb-card>
  </div>
</div>


